parameters:
    level: 6
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: return.type
        - identifier: new.static
        - identifier: staticMethod.notFound
        - identifier: nullsafe.neverNull
